{% extends 'base.html' %}

{% block titulo%}SICA|Creditos{% endblock %}

{% block content %}
<div class="container">
	<legend>Adcionar Crédito</legend>
	<form role="form"  method="post" class="login-form">
	{% csrf_token %}
		<div class="row">
			<div class="col-md-4">
				{% if form.non_field_errors %}
					<div class="alert alert-danger">
						{% for error in form.non_field_errors %}
							{{ error }}
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="aluno">Aluno: </label>
					</br>{{ form.aluno }}
				</div>
			</div>
			{% if form.errors %}
				{% for field in form %}
					{% if field ==  form.aluno %}
						{% for error in field.errors %}
							</br>
							<div class="col-md-4">
								<div class="alert alert-danger">
									<strong>{{ error }}</strong>
								</div>
							</div>
						{% endfor %}
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="credito_refeicao">Credito Refeição: </label>
					{{ form.credito_refeicao }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.credito_refeicao %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="justificativa">Justificativa: </label>
					{{ form.justificativa }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.justificativa %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>
		<button type="submit" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"><b> Adicionar</b></font></button>
	</form>
</div>
{% endblock %}
