{% extends 'base.html' %}

{% block title %}Histórico de Créditos{% endblock %}

{% block content %}
<div class="container">
    <h2>Histórico de Créditos - {{ aluno.nome }}</h2>
    {% if historicos %}
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Justificativa</th>
                    <th>Unidades</th>
                    <th>Usuário</th>
                </tr>
            </thead>
            <tbody>
                {% for historico in historicos %}
                <tr>
                    <td>{{ historico.data_criacao }}</td>
                    <td>{{ historico.justificativa }}</td>
                    <td>{{ historico.unidades }}</td>
                    <td>{{ historico.usuario }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não existe histórico para este aluno.</p>
    {% endif %}
</div>
{% endblock %}
