{% extends 'base.html' %}

{% block titulo%}SICA|Histórico de Créditos{% endblock %}

{% block content %}
<div class="container">
	{% if msg %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Tudo Certo! {{msg }}.
  			</div>
		</div>
	</div>
	{% endif %}
	{% if err %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Que pena! {{ err }}.
  			</div>
		</div>
	</div>
	{% endif %}
	<legend>Histórico de Créditos</legend>

	<div class="row">
		<div class="col-md-10">
			<form role="form"  method="post" class="login-form">
			{% csrf_token %}
				<div class="col-md-12">
					<div class="aluno-pesquisa">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Pesquisar</button>
						</span>
						<input type="text" class="form-control" placeholder="Pequisa" type="submit" name="campo">
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			
			<div class="panel panel-primary">
				<table class="table">
					<tr>
						<th>Prontuario</th>
						<th>Nome</th>
						<th>Histórico</th>
					</tr>
					{% for aluno in alunos %}
						<tr>
							<th>{{ aluno.prontuario }}</th>
							<th>{{ aluno.nome }} {{ aluno.sobrenome }}</th>
							<td><a href="{% url 'visualizar_historico' aluno_id=aluno.id %}" class="glyphicon glyphicon-time" title="Visualizar Histórico"></a></td>
						</tr>
					{% endfor %}
					</table>
				</div>
				{% if alunos.has_other_pages %}
  				<ul class="pagination">
    			{% if alunos.has_previous %}
      				<li><a href="?page={{ alunos.previous_page_number }}">&laquo;</a></li>
    			{% else %}
     				 <li class="disabled"><span>&laquo;</span></li>
    			{% endif %}
    			{% for i in alunos.paginator.page_range %}
      				{% if alunos.number == i %}
        				<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      				{% else %}
        				<li><a href="?page={{ i }}">{{ i }}</a></li>
      				{% endif %}
    			{% endfor %}
    			{% if alunos.has_next %}
      				<li><a href="?page={{ alunos.next_page_number }}">&raquo;</a></li>
    			{% else %}
      				<li class="disabled"><span>&raquo;</span></li>
    			{% endif %}
  				</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
