{% extends 'base.html' %}

{% block titulo%}SICA|Alunos{% endblock %}

{% block content %}
<div class="container">
	{% if msg %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Tudo Certo! {{msg }}.
  			</div>
		</div>
	</div>
	{% endif %}
	{% if err %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Que pena! {{ err }}.
  			</div>
		</div>
	</div>
	{% endif %}
	<legend>Alunos</legend>
	<div class="row">
		<div class="col-md-2">
			<a href="/alunos/add">
				<button type="button" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"> Novo</font></button>
			</a>
		</div>
		<div class="col-md-10">
			<form role="form"  method="post" class="login-form">
			{% csrf_token %}
				<div class="col-md-12">
					<div class="aluno-pesquisa">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Pesquisar</button>
						</span>
						<input type="text" class="form-control" placeholder="Pequisa" type="submit" name="campo">
						<select class="form-control" id="curso" name="curso">
							<option value="0">-- Selecione um Curso --</option>
							{% if cursos %}
								{%for curso in cursos %}
									{%if curso.ativo %}
										<option value="{{curso.id}}">{{curso.curso}}</option>
									{% endif %}
								{% endfor %}
							{% endif %}
						</select>
						<select class="form-control" id="ano" name="ano">
							<option value="0">--- Ano do Curso ---</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>					
				</div>
			</form>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">
			
			<div class="panel panel-primary">
				{% if registros %}
				<div class="panel-heading">
					Registros Apresentados: {{registros}}
					<a href="/alunos/editlote" class="btn btn-primary glyphicon glyphicon-pencil" id="editLote"><font face="Arial"> Editar em Lote</font></a>
					<a href="/alunos/uploadXLS" class="btn btn-primary glyphicon glyphicon-upload" id=addCSV"><font face="Arial"> Upload XLS</font></a>
				</div>
				{% else %}
				<div class="panel-heading">
					Alunos
					<a href="/alunos/editlote" class="btn btn-primary glyphicon glyphicon-pencil" id="editLote"><font face="Arial"> Editar em Lote</font></a>
					<a href="/alunos/uploadXLS" class="btn btn-primary glyphicon glyphicon-upload" id="addCSV"><font face="Arial"> Upload XLS</font></a>
				</div>
				{% endif %}
					<table class="table">
						<tr>
							<th>Prontuario</th>
							<th>Nome</th>
							<th>Curso</th>
							<th>Ano</th>
							<th>Assistência Estudantil</th>
							<th>Ativo</th>
							<th>Editar</th>
							<th>Excluir</th>
							<th>Senha</th>	
						</tr>
						{% for aluno in alunos %}
						<tr>
							<th>{{ aluno.prontuario }}</th>
							<th>{{ aluno.nome }} {{ aluno.sobrenome }}</th>
							<th>
								{% for curso in cursos %}
								
									{% if aluno.curso == curso.id|slugify %}
										{{ curso.curso }}	
									{% endif %}
								{% endfor %}
							</th>
							<th>{{ aluno.ano }}</th>
							<th>
								{% if aluno.assistencia_estudantil %}
								<span class="glyphicon glyphicon-ok"></span>
								{% else %}
								<span class="glyphicon glyphicon-remove"></span>
								{% endif %}
							</th>
							<th>
								{% if aluno.ativo %}
								<span class="glyphicon glyphicon-ok"></span>
								{% else %}
								<span class="glyphicon glyphicon-remove"></span>
								{% endif %}
							</th>
							<th><a href="{% url 'editar_aluno' id=aluno.id %}" class="glyphicon glyphicon-edit"></a></th>
							<th><a href="{% url 'deletar_aluno' id=aluno.id %}" class="glyphicon glyphicon-remove"></a></th>
							<th><a href="{% url 'editar_senha' id=aluno.id %}" class="glyphicon glyphicon-lock"></a></th>
						</tr>
						{% endfor %}
					</table>
				</div>
				{% if alunos.has_other_pages %}
  				<ul class="pagination">
    			{% if alunos.has_previous %}
      				<li><a href="?page={{ alunos.previous_page_number }}">&laquo;</a></li>
    			{% else %}
     				 <li class="disabled"><span>&laquo;</span></li>
    			{% endif %}
    			{% for i in alunos.paginator.page_range %}
      				{% if alunos.number == i %}
        				<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      				{% else %}
        				<li><a href="?page={{ i }}">{{ i }}</a></li>
      				{% endif %}
    			{% endfor %}
    			{% if alunos.has_next %}
      				<li><a href="?page={{ alunos.next_page_number }}">&raquo;</a></li>
    			{% else %}
      				<li class="disabled"><span>&raquo;</span></li>
    			{% endif %}
  				</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
