{% extends 'base.html' %}

{% block titulo%}SICA|Alunos{% endblock %}

{% block content %}
<div class="container">
	{% if msg %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Tudo Certo! {{msg }}.
  			</div>
		</div>
	</div>
	{% endif %}
	{% if err %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Que pena! {{ err }}.
  			</div>
		</div>
	</div>
	{% endif %}
	<legend>Editar Alunos em Lote</legend>
	<div class="row">
		<div class="col-md-12">
			<form role="form"  method="post" class="login-form">
			{% csrf_token %}
				<div class="col-md-12">
					<div class="aluno-pesquisa">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Pesquisar</button>
						</span>
						<select class="form-control" id="curso" name="curso">
							<option value="0">-- Selecione um Curso --</option>
							{% if cursos %}
							{%for curso in cursos %}
								{%if curso.ativo %}
									<option {% if form.curso.value == curso.id|slugify %} selected {% endif %} value="{{ curso.id }}">{{ curso.curso }}</option>
                        		{% endif %}
							{% endfor %}
							{% endif %}
						</select>
						<select class="form-control" id="ano" name="ano">
							<option value="0">--- Ano do Curso ---</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>					
				</div>
			</form>
		</div>		
	</div>
	{% if search.count > 0 %}
		<form role="form"  method="post" class="login-form">
			{% csrf_token %}
			<br />
			<p>{{ search|length }} Alunos encontrados:</p>
			<select id="pre-selected-options" name="lista" multiple="multiple">
	    		{% for aluno in search %}
	    			<option value="{{ aluno.id }}">{{ aluno.nome }} {{ aluno.sobrenome }}</option>
	    		{% endfor %}
	  		</select>
			<br />
			<p>Selecione o ano do curso a ser alterado: </p>
			<select class="form-control" id="editano" name="editano">
				<option value="0">--- Ano do Curso ---</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
			<br />
			<input type="submit" name="button" value="Alterar" class="btn btn-primary" id="editbutton" />			
			<input type="submit" name="button" value="Remover" class="btn btn-danger" />
		</form>
	{% endif %}
</div>
{% endblock %}