{% extends 'base.html' %}

{% block titulo%}SICA|Alunos{% endblock %}

{% block content %}
<div class="container">
	{% if senha %}
	<legend>Editar Senha</legend>
	{% else %}
	<legend>Criar Senha</legend>
	{% endif %}
	<form role="form"  method="post" class="login-form">
	{% csrf_token %}
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>Requisitos míminis para a senha:</label>
					<ul>
						<li>Deve conter pelo menos 8 caracteres</li>
						<li>Deve conter pelo menos 1 letra maiúscula</li>
						<li>Deve conter pelo menos 1 letra minúscula</li>
						<li>Deve conter pelo menos 1 número</li>
						<li>Deve conter pelo menos 1 caractere especial</li>
						<li>Obs: As duas senhas vázias removerá a senha do aluno</li>
					</ul>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="senha">Senha: </label>
					<input id=id_senha maxlenght="30" name=senha type="password" value="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="senhaConfirm">Confirmar Senha: </label>
					{{ form.senhaConfirm }}
				</div>
			</div>
		</div>
		{% if form.non_field_errors %}
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger">
						{% for error in form.non_field_errors %}
							<strong>{{ error }}</strong><br>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
		<button type="submit" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"><b> Salvar </b></font></button>
	</form>
</div>
{% endblock %}
