{% extends 'base.html' %}

{% block titulo%}SICA|Alunos{% endblock %}

{% block content %}
<div class="container">
	{% if msg %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Tudo Certo! {{ msg }}.
  			</div>
		</div>
	</div>
	{% endif %}
	{% if err %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Que pena! {{ err }}
  			</div>
		</div>
	</div>
	{% endif %}
	{% if form.curso.errors %}
	{% for error in form.curso.errors %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Que pena! {{ error|escape }}
  			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<legend>Adicionar Alunos por XLS</legend>
	<div class="row">
		<div class="col-md-12">
			Requisitos para importação:
			<ul>
				<li>Arquivo em formato XLS</li>
				<li>Deve conter as colunas: Aluno, Matrícula, Situação no Período
					<ol>
						<li>Aluno: Nome (ex: João da Silva)</li>
						<li>Matrícula: apenas números ou X no final, não importando se X está maiúsculo ou minúsculo (ex: 111445, 11144X, 11144x)</li>
						<li>Situação no Período: (ex: Matriculado)</li>
					</ol>
				</li>
				<li>Arquivo em formato UTF-8</li>
			</ul>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-12">
			<form role="form"  method="post" class="login-form" enctype="multipart/form-data">
			{% csrf_token %}
				<div class="row">
					<div class="col-md-6 csv-form">
						<select class="form-control" name="curso">
							<option value="0">--- Selecione um curso ---</option>
	 						{% if cursos %}
							{%for curso in cursos %}
							{%if curso.ativo %}
							<option value="{{ curso.id }}">{{ curso.curso }}</option>
							{% endif %}
							{% endfor %}
							{% endif %}	
	 					</select>
	  				</div>
	  				<div class="col-md-6 csv-form">
						<select class="form-control" name="ano">
							<option value="0">--- Selecione o ano ---</option>
	  						<option {% if form.ano.value == '1' %} selected {% endif %} value="1">1º Ano</option>
	  						<option {% if form.ano.value == '2' %} selected {% endif %} value="2">2º Ano</option>
	  						<option {% if form.ano.value == '3' %} selected {% endif %} value="3">3º Ano</option>
	  					</select>
					</div>
				</div>
				<div class="row">
	  				<div class="col-md-8">
	  					<span class="control-fileupload" id="spanArquivo">
	  						<input type="file" id="arquivo" name="arquivo" required>
						</span>
					</div>
					<div class="col-md-4">
						<span class="input-group-btn">
							<button class="btn btn-default" id="btnCsv" type="submit">Enviar</button>
						</span>
					</div>
				</div>					
			</form>
		</div>		
	</div>
	{%if falhas%}
	<div class="row">
		<div class="col-md-12">
			<h3>Registros Gravados: {{salvos}} de {{ total }}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Alunos não Cadastrados
				</div>
				<table class="table">
					<tr>
						<th>#</th>
						<th>Nome</th>
						<th>Prontuario</th>
						<th>Sobrenome</th>
						<th>Motivo</th>
					</tr>
					{%for item in falhas%}
					<tr>
						<th>{{ forloop.counter }}</th>
						<th>{{ item.2 }}</th>
						<th>{{ item.0 }}</th>
						<th>{{ item.1 }}</th>
						<th>{{ item.3 }}</th>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% if falhas.has_other_pages %}
  			<ul class="pagination">
    			{% if falhas.has_previous %}
      			<li><a href="?page={{ falhas.previous_page_number }}">&laquo;</a></li>
    			{% else %}
     			<li class="disabled"><span>&laquo;</span></li>
    			{% endif %}
    			{% for i in falhas.paginator.page_range %}
      			{% if falhas.number == i %}
        		<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      			{% else %}
        		<li><a href="?page={{ i }}">{{ i }}</a></li>
      			{% endif %}
    			{% endfor %}
    			{% if falhas.has_next %}
      			<li><a href="?page={{ falhas.next_page_number }}">&raquo;</a></li>
    			{% else %}
      			<li class="disabled"><span>&raquo;</span></li>
    			{% endif %}
  			</ul>
			{% endif %}
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}