/* -------------- Classes --------------- */
.imgErro{
        float:left;
        width: 100%;
}
.datapicker{
	margin-top: 2em;
}
.navbar-default {
	background-color: #3c763d;
	border-color: #dff0d8;
}
.btn-primary {
	color: #fff;
	background-color: rgba(60, 118, 61, 0.80);
	border-color: rgba(60, 118, 61, 0.80);
}
.btn-primary:hover, .btn-primary:focus{
	color: #fff;
	background-color: #3c763d;
	border-color: #3c763d;
}
.panel-primary>.panel-heading {
	color: #fff;
	background-color: rgba(60, 118, 61, 0.80);
	border-color: rgba(60, 118, 61, 0.80);
}
.panel-primary {
	border-color: rgba(60, 118, 61, 0.80);
	margin-top: 1em;
}
.container .credit {
	margin: 20px 0;
}
.pagination {
	display: inline-block;
	padding-left: 0;
    margin: 0px 0;
    border-radius: 4px;
}
.pagination li.active span {
    background-color: rgba(60, 118, 61, 0.8);
    border-color: rgba(60, 118, 61, 0.8);
    color: white;
}
.pagination li.active>span:hover{
	background-color: rgba(60, 118, 61, 1);
}
.pagination li a {
    color: black;
}
.jumbotron .h1, .jumbotron h1 {
    font-size: 40px;
}
.jumbotron p{
	font-size: 20px;
}
.jumbotron{
	padding-top: 5px;
	padding-botton: 0;
	background-color: #daecdc;
}
.sub h1{
	font-size: 30px;
}
.sub h2{
	font-size: 20px;
}
.sub p{
	font-size: 15px;
}
.relatorio h1{
	font-size: 2em;
	margin-bottom: -0.5em;
}
.relatorio h2{
	font-size: 1.5em;
	margin-top: 0.8em;
	margin-bottom: 1em;
}
.realtorio form{
	margin-top: -1em;
}
.aluno-pesquisa > span{
	width: 88px;
	margin: 1px;
	float: left;
}
.aluno-pesquisa > .form-control{
	width: 200px;
	margin: 1px;
	float: left;
}
.control-fileupload {
	display: block;
	border: 1px solid #d6d7d6;
	border-radius: 4px;
	width: 100%;
	height: 36px;
}
.form-control{
	width: 100%;
}
/* ---------------- Ids ----------------- */
#btnCsv{
	margin-top: 1em;
	width: 100%;
}
#consomeTicket{
	float: right;
	margin-top: 0;
	margin-right: 0;
	padding: 8px 12px 8px 12px;
}
#spanArquivo{
	margin-top: 1em;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	padding:10px;
}
#content {
	padding-bottom:80px; /* Height of the footer element */
}
#footer {
	background-color: #3c763d;
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
}
#btnPDF{
	float: right;
	height: 2.9em;
}
#editLote{
	float: right;
	margin-top: -11px;
	margin-right: -15px;
	padding: 8px 12px 8px 12px;
}
#addCSV{
	float: right;
	margin-top: -11px;
	margin-right: 0;
	padding: 8px 12px 8px 12px;
}
#editbutton{
	width: 82px;
}
/* --------------- Tags ----------------- */
input[type="text"], input[type="number"], input[type="password"]{
	width: 350px;
}
input[type="number"] .datapicker{
	width: 18.7em;
}
input[type=file] {
	float: left;
}
footer p{
	text-align: center;
	margin-top: 1em;
	color: white;
	font-weight: bold;
}
html, body {
	margin:0;
	padding:0;
	height:100%;
}
button{
	font-family: Arial;
}
a {
    color: rgba(60, 118, 61, 0.80);
	text-decoration: none;
}
a span {
	color: white;
}