{% extends 'base.html' %}


{% block titulo%}SICA|Cardapios{% endblock %}

{% block content %}
<div class="container">
	{% if msg %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Tudo Certo! {{msg }}.
  			</div>
		</div>
	</div>
	{% endif %}
	{% if err %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Que pena! {{ err }}.
  			</div>
		</div>
	</div>
	{% endif %}
	<legend>Cardápios</legend>
	<div class="row">
		<div class="col-md-2">
			<a href="/cardapio/add">
				<button type="button" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"> Novo</button>
			</a>
		</div>
		<div class="col-md-4">
			<form role="form"  method="post" action="/cardapio/" class="login-form">
			{% csrf_token %}
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" action="/cardapio/" type="submit">Pesquisar</button>
					</span>
					<input type="date" class="form-control" placeholder="dd/mm/aaaa" type="submit" name="campo" required>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<br>
			<div class="panel panel-primary">
				<div class="panel-heading">Cardápios</div>
					<table class="table">
						<tr>
							<th>Data</th>
							<th>Prato Principal</th>
							<th>Salada</th>
							<th>Sobremesa</th>
							<th>Suco</th>
							<th>Editar</th>
							<th>Excluir</th>
						</tr>
						{% for cardapio in cardapios %}
						<tr>
							<th>{{ cardapio.data }}</th>
							<th>{{ cardapio.principal }}</th>
							<th>{{ cardapio.salada }}</th>
							<th>{{ cardapio.sobremesa }}</th>
							<th>{{ cardapio.suco }}</th>
							<th><a href="{% url 'editar_cardapio' id=cardapio.id %}" class="glyphicon glyphicon-edit"></a></th>
							<th><a href="{% url 'deletar_cardapio' id=cardapio.id %}" class="glyphicon glyphicon-remove"></a></th>
						</tr>
						{% endfor %}
					</table>
				</div>
				{% if cardapios.has_other_pages %}
  				<ul class="pagination">
    			{% if cardapios.has_previous %}
      				<li><a href="?page={{ cardapios.previous_page_number }}">&laquo;</a></li>
    			{% else %}
     				 <li class="disabled"><span>&laquo;</span></li>
    			{% endif %}
    			{% for i in cardapios.paginator.page_range %}
      				{% if cardapios.number == i %}
        				<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      				{% else %}
        				<li><a href="?page={{ i }}">{{ i }}</a></li>
      				{% endif %}
    			{% endfor %}
    			{% if cardapios.has_next %}
      				<li><a href="?page={{ cardapios.next_page_number }}">&raquo;</a></li>
    			{% else %}
      				<li class="disabled"><span>&raquo;</span></li>
    			{% endif %}
  				</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}