{% extends 'base.html' %}

{% block titulo%}SICA|Usuários{% endblock %}

{% block content %}
<div class="container">
	<legend>Editar Usuário</legend>
	<form role="form"  method="post" class="login-form">
	{% csrf_token %}

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="username">Usuário: </label>
					{{ form.username }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.username %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="email">E-mail: </label>
					{{ form.email }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.email %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="Senha">Senha: </label>
					{{ form.senha }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.senha %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="prontuario">Administrador: </label>
					{{ form.is_superuser }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.is_superuser %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="prontuario">Ativo: </label>
					{{ form.is_active }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.is_active %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>

		<input type="hidden" id="id" name="id" value="{{ id }}">
		<button type="submit" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"><b> Adicionar</b></font></button>
	</form>
</div>
{% endblock %}
