{% extends 'base.html' %}

{% block titulo%}SICA|Alunos{% endblock %}

{% block content %}
<div class="container">
	{% if msg %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Tudo Certo! {{msg }}.
  			</div>
		</div>
	</div>
	{% endif %}
	{% if err %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Que pena! {{ err }}.
  			</div>
		</div>
	</div>
	{% endif %}
	<legend>Consumir Tickets Manualmente</legend>
	<div class="row">
		<div class="col-md-12">
			{% if tickets.count > 0 %}
			<form role="form"  method="post" class="login-form">
				{% csrf_token %}
				<p>{{ tickets|length }} Tickets Gerados e não consumidos no dia {{ dia }}:</p>
				<select id="pre-selected-options" name="lista" multiple="multiple">
	    		{% for ticket in tickets %}
	    			<option value="{{ ticket.aluno.id }}">{{ ticket.aluno.nome }} {{ ticket.aluno.sobrenome }}</option>
	    		{% endfor %}
	  			</select>
				<br />
				<input type="submit" name="button" value="Salvar" class="btn btn-primary" id="editbutton" />
				<input type="hidden" name="data" value="{{ dia }}" />				
			</form>
			{% endif %}
		</div>		
	</div>
</div>
{% endblock %}