{% extends 'base.html' %}

{% block titulo%}SICA|Relatorios{% endblock %}

{% block content %}
<div class="container relatorio">
	{% if msg %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Tudo Certo! {{msg }}.
  			</div>
		</div>
	</div>
	{% endif %}
	<div class="tabbable"> <!-- Only required for left/right tabs -->
    	<ul class="nav nav-tabs">
        	<li {%if id == 1 %} class="active" {% endif %}><a href="#tab1" data-toggle="tab">Diário</a></li>
        	<li {%if id == 2 %} class="active" {% endif %}><a href="#tab2" data-toggle="tab">Mensal</a></li>
      	</ul>
      	<div class="tab-content">
      		<div class="tab-pane {%if id == 1 %}active{% endif %}" id="tab1">
      			<h2>Contagem de  Tickets do Dia: {{ contador }}</h2>
      			<h2>Refeições Servidas: {{ contadorRef }}</h2>
				<form method="post">
					{% csrf_token %}
					<label class="datapicker" for="data">Data:</label>
					<input type="text" name="data" id="datepicker" placeholder="dd/mm/aaaa" required/>
					<input type="hidden" name="tipo" value="1">
					<button type="submit" class="btn btn-primary glyphicon glyphicon-open"><font face="Arial"> Gerar</font></button>
				</form>
				
				{% if data %}
					<h2>No dia {{ data }} {{ contadorRefeicao }} Refeições foram servidas.</h2>
				{% endif %}
				
				{% if contadorRefeicao %}
					<form method="POST" action="dayRefPDF/">
						{% csrf_token %}
						<input type="hidden" name="data" value="{{ data }}">
						<input type="hidden" name="contador" value="{{ contadorDia }}">
						<button class="btn btn-primary glyphicon glyphicon-file" type="submit" id="btnPDF"><font face="Arial"> Gerar PDF</font></button>
					</form>
					<div class="panel panel-primary">
						<div class="panel-heading">Alunos registrados no dia</div>
						<table class="table">
							<tr>
								<th>Prontuario</th>
								<th>Nome</th>
								<th>Sobrenome</th>
								<th>Curso</th>
								<th>Emitido Via</th>
							</tr>
						{%for al in alunos %}
							<tr>
								<th>{{al.aluno.prontuario}}</th>
								<th>{{al.aluno.nome}}</th>
								<th>{{al.aluno.sobrenome}}</th>
								<th>
									{% if al.aluno.curso == '1' %}
										Integrado em Redes de Computadores
									{% elif al.aluno.curso == '2' %}
										Integrado em Mecatrônica
									{% elif al.aluno.curso == '3' %}
										Integrado em Química
									{% endif %}
								</th>
								<th>
									{% if al.tipo == 0 %}
										Terminal
									{% elif al.tipo == 1 %}
										WEB
									{% endif %}
								</th>
							</tr>
					 	{% endfor %}
					 	</table>
					 </div>
				{% endif %}
				
				{% if data %}
					<h2>No dia {{ data }} {{ contadorTicket }} tickets foram gerados e não foram usados.</h2>
				{% endif %}
				
				{% if contadorTicket %}
					<form method="POST" action="dayTicPDF/">
						{% csrf_token %}
						<input type="hidden" name="data" value="{{ data }}">
						<input type="hidden" name="contador" value="{{ contadorDia }}">
						<button class="btn btn-primary glyphicon glyphicon-file" type="submit" id="btnPDF"><font face="Arial"> Gerar PDF</font></button>
						<button class="btn btn-primary glyphicon glyphicon-tag" formaction="ticket/" type="submit" id="consomeTicket"><font face="Arial"> Consumir Ticket </font></button>
					</form>
					<div class="panel panel-primary">
						<div class="panel-heading">Alunos registrados no dia</div>
						<table class="table">
							<tr>
								<th>Prontuario</th>
								<th>Nome</th>
								<th>Sobrenome</th>
								<th>Curso</th>
								<th>Emitido Via</th>
							</tr>
						{%for al in tickets %}
							<tr>
								<th>{{al.aluno.prontuario}}</th>
								<th>{{al.aluno.nome}}</th>
								<th>{{al.aluno.sobrenome}}</th>
								<th>
									{% if al.aluno.curso == '1' %}
										Integrado em Redes de Computadores
									{% elif al.aluno.curso == '2' %}
										Integrado em Mecatrônica
									{% elif al.aluno.curso == '3' %}
										Integrado em Química
									{% endif %}
								</th>
								<th>
									{% if al.tipo == 0 %}
										Terminal
									{% elif al.tipo == 1 %}
										WEB
									{% endif %}
								</th>
							</tr>
					 	{% endfor %}
					 	</table>
					 </div>
				{% endif %}
					
      		</div>
      		<div class="tab-pane {%if id == 2 %}active{% endif %}" id="tab2">
      			<h2>Contagem de  Tickets do Dia: {{ contador }}</h2>
      			<h2>Refeições Servidas: {{ contadorRef }}</h2>
      			<form method="post">
      				{% csrf_token %}
					<label class="datapicker" for="data">Data:</label>
					<input type="text" name="data" id="datepicker-mes" placeholder="mm/aaaa" required/>
					<input type="hidden" name="tipo" value="2">
					<button type="submit" class="btn btn-primary glyphicon glyphicon-open"><font face="Arial"> Gerar</font></button>
				</form>
				{% if lstTable %}
				<h2>Total de Tickets gerados no mes {{mes}}/{{ano}}: {{total}}</h2>
				<form method="POST" action="monPDF/">
					{% csrf_token %}
					<input type="hidden" name="data" value="{{mes}}/{{ano}}">
					<button class="btn btn-primary glyphicon glyphicon-file" type="submit" id="btnPDF"><font face="Arial"> Gerar PDF</font></button>
				</form>
				<form method="POST" action="monXLS/">
					{% csrf_token %}
					<input type="hidden" name="data" value="{{mes}}/{{ano}}">
					<button class="btn btn-primary glyphicon glyphicon-list-alt" type="submit" id="btnPDF"><font face="Arial"> Gerar XLS</font></button>
				</form>
				<div class="panel panel-primary">
					<div class="panel-heading">Quantitativo do Mês: {{mes}}/{{ano}}</div>
					<table class="table">
						<tr>
							<th>Dia</th>
							<th>Tickets Gerados</th>
							<th>Refeições Servidas</th>
							<th>PDF Refeições</th>
							<th>PDF Tickets</th>
						</tr>
						{%for dia, count, countRef in lstTable%}
						<tr>
							<th>{{dia}}</th>
							<th>{{count}}</th>
							<th>{{countRef}}</th>
							<th>
								{% if count == 0 %}
								<div class="glyphicon glyphicon-minus"></div>
								{% else %}
								<form method="post" action="dayRefPDF/">
      							{% csrf_token %}
      							<input class="hidden" name="data" value="{{dia}}">
      							<input class="hidden" name="contador" value="{{count}}">
								<button type="submit" class="btn btn-primary glyphicon glyphicon-file"></button>
								</form>
								{% endif %}
							</th>
							<th>
								{% if count == countRef %}
								<div class="glyphicon glyphicon-minus"></div>
								{% else %}
								<form method="post" action="dayTicPDF/">
      							{% csrf_token %}
      							<input class="hidden" name="data" value="{{dia}}">
      							<input class="hidden" name="contador" value="{{count}}">
								<button type="submit" class="btn btn-primary glyphicon glyphicon-file"></button>
								</form>
								{% endif %}
							</th>
						</tr>
						{% endfor %}
					</table>
				</div>
      			{% endif %}
      		</div>
      	</div>
	</div>
</div>
{% endblock %}