{% extends 'base.html' %}

{% block titulo%}SICA|Cotas{% endblock %}

{% block content %}
<div class="container">
	{% if msg %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Tudo Certo! {{msg }}.
  			</div>
		</div>
	</div>
	{% endif %}
	{% if err %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Que pena! {{ err }}.
  			</div>
		</div>
	</div>
	{% endif %}
	<legend>Cotas</legend>
	<div class="row">
		<div class="col-md-2">
			<a href="/cotas/add">
				<button type="button" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"> Novo</font></button>
			</a>
		</div>
		<div class="col-md-10">
			<form role="form"  method="post" class="login-form">
			{% csrf_token %}
				<div class="col-md-12">
					<div class="aluno-pesquisa">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Pesquisar</button>
						</span>
						<input type="text" class="form-control" placeholder="Pequisa" type="submit" name="campo">
					</div>					
				</div>
			</form>
		</div>	
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Cotas</div>
					<table class="table">
							<tr>
								<th>Nome</th>
								<th>Quantidade</th>
							</tr>
							{% for cota in cotas %}
							<tr>
								<th>{{ cota.nome }}</th>
								<th>{{ cota.quantidade }}</th>
								<th><a href="{% url 'editar_cota' id=cota.id %}" class="glyphicon glyphicon-edit"></a></th>
								<th><a href="{% url 'deletar_cota' id=cota.id %}" class="glyphicon glyphicon-remove"></a></th>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% if cursos.has_other_pages %}
	  				<ul class="pagination">
	    			{% if cursos.has_previous %}
	      				<li><a href="?page={{ cotas.previous_page_number }}">&laquo;</a></li>
	    			{% else %}
	     				 <li class="disabled"><span>&laquo;</span></li>
	    			{% endif %}
	    			{% for i in cotas.paginator.page_range %}
	      				{% if cotas.number == i %}
	        				<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	      				{% else %}
	        				<li><a href="?page={{ i }}">{{ i }}</a></li>
	      				{% endif %}
	    			{% endfor %}
	    			{% if cotas.has_next %}
	      				<li><a href="?page={{ cotas.next_page_number }}">&raquo;</a></li>
	    			{% else %}
	      				<li class="disabled"><span>&raquo;</span></li>
	    			{% endif %}
	  				</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
