{% extends 'base.html' %}

{% block titulo%}SICA|Cotas{% endblock %}

{% block content %}
<div class="container">
	<legend>Editar Cota</legend>
	<form role="form"  method="post" class="login-form">
	{% csrf_token %}

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="nome">Nome: </label>
					{{ form.nome }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.nome %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="quantidade">Quantidade: </label>
					{{ form.quantidade }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.quantidade %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>
		<input type="hidden" id="id" name="id" value="{{ id }}">
		<button type="submit" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"><b> Adicionar</b></font></button>
	</form>
</div>
{% endblock %}
