{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <title>{% block titulo%}{% endblock %}</title>
	    
	    <!-- Core CSS - Include with every page-->
	    <link href="{% static 'login/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	    <link href="{% static 'datapicker/css/jquery-ui.css' %}" rel="stylesheet">
	    <link href="{% static 'login/css/sica.css' %}" rel="stylesheet">
	    <link href="{% static 'multiselect/css/multi-select.css' %}" rel="stylesheet">
	    
	    <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static 'login/ico/favicon.ico' %}">
		
		<!-- Core Scripts - Include with every page -->
	    <script src = "{% static 'login/js/jquery.min.js' %}"></script>
		<script src = "{% static 'login/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'datapicker/js/jquery.js' %}"></script>
 		<script src="{% static 'datapicker/js/jquery-ui.js'%}"></script>
	    <script src="{% static 'datapicker/js/datepicker-pt-BR.js'%}"></script>
	    <script src="{% static 'multiselect/js/jquery.multi-select.js' %}"></script>
	    
	    <script>
 	 		$( function() {
 	 			$.datepicker.setDefaults($.datepicker.regional['pt-BR']);
 	 			$( "#datepicker" ).datepicker();
  			} );
 	 		
 	 		$(function() {
 	 			$.datepicker.setDefaults($.datepicker.regional['pt-BR']);
 	 		    $( "#datepicker-mes" ).datepicker( {
 	 		        changeMonth: true,
 	 		        changeYear: true,
 	 		        showButtonPanel: true,
 	 		        dateFormat: 'mm/yy',
 	 		        onClose: function(dateText, inst) { 
 	 		            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
 	 		        }
 	 		    });
 	 		});
 	 		$(function() {
	 	 		$('#pre-selected-options').multiSelect();
 	 		});
 	 		{% if posProntuario %}
			$(document).ready((function() {
			    $('#btnSenha').click();
			}));
			{% endif %}
			{% block script %}
	    	{% endblock %}
	 	</script>
	    
	    <style>
	    	{% block style %}
	    	{% endblock %}
       </style>
	</head>
	{% if id %}
	<body onload="document.getElementById('curso').click()">
	{% else %}
	<body>
	{% endif %}	
	<div id="wrapper">
		<nav class="navbar navbar-default" id="header">
			<div class="container-fluid">
	    		<div class="navbar-header">
	    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		       			<span class="sr-only">Toggle navigation</span>
		       			<span class="icon-bar"></span>
	        			<span class="icon-bar"></span>
	       				<span class="icon-bar"></span>
	    			</button>
	    			<a class="navbar-brand" href="/home" color="#ffffff"><span>SICA | Sistema de Controle de Alimentação</span></a>
	    		</div>
		   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      		<ul class="nav navbar-nav navbar-right">
		   	    		<li class="dropdown">
	        	  			{% if logado %}
	        	  			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span>Ações</span><span class="caret"></span></a>
	       	  				<ul class="dropdown-menu" role="menu">
	           					<li><a href="/usuarios">Usuarios</a></li>
								<li class="divider"></li>
								<li><a href="/alunos">Alunos</a></li>
	           					<li><a href="/cursos">Cursos</a></li>
	           					<li><a href="/horarios">Horario</a></li>
		           				<li><a href="/cardapio">Cardápio</a></li>
								<li class="divider"></li>
								<li><a href="/cotas">Cota</a></li>
								<li><a href="/creditos">Créditos</a></li>
								<li><a href="/creditos/lista_alunos_historico">Histórico Créditos</a></li>
		           				<li class="divider"></li>
		           				<li><a href="/api">Habilitar API</a></li>
	            				<li><a href="/relatorio">Relatórios</a></li>
	            				<li class="divider"></li>
	            				<li><a href="/logout">Logout</a></li>
		       				</ul>
		       				{% else %}
		       	    		<a href="/accounts/login"><span>Login</span></a></li>
		       	    		{% endif %}
	        			</li>
		      		</ul>
		    	</div>
	  		</div>
		</nav>
		
		<div id="content">
		{% block content %}
		{% endblock %}
		
		{% block home %}
		{% endblock %}
		
			<!-- Button trigger modal -->
			<button id="btnSenha" type="button" data-toggle="modal" data-target="#senhaModal" hidden></button>
			
			<!-- Modal -->
			<div class="modal fade" id="senhaModal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
			    	<div class="modal-content">
				      	<div class="modal-header">
				        	<h5 class="modal-title" id="exampleModalLabel">Senha para CT{{ aluno.prontuario }}</h5>
				      	</div>
				      	<form role="form"  method="post" class="login-form">
						{% csrf_token %}
				      		<div class="modal-body">
				        		<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label for="senha">Digite a senha:</label>
											<input id="senha" name="senha" type="password">
											<input name="prontuario" type="hidden" value="{{aluno.prontuario}}">
										</div>
									</div>
								</div>
							</div>
						</form>		
				      	<div class="modal-footer">
				    		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        	<button type="submit" class="btn btn-primary">Enviar</button>
				  		</div>
					</div>
				</div>
			</div>		
		</div>
		
		<footer id="footer">
			<p>Instituto Federal de Educação, Ciência e Tecnologia de São Paulo - Câmpus Catanduva</p>
			<!--<p>Desenvolvido por Willian Santos - Analista de TI</p>
			<p>Atualizado por Ronaldo Martins - Técnico de TI</p>-->
		</footer>
    	</div>
	    
	    {% block javascript %}
	    {% endblock %}

	</body>
</html>
