{% extends 'base.html' %}

{% block titulo%}SICA|Alunos{% endblock %}

{% block content %}
		
		<div class="container">
			<legend>{% block legenda %}Deletar {{ app }}{% endblock %}</legend>
			
			{% if app == "Aluno" %}
				<div class="jumbotron text-center">
  					<p>Realmente gostaria de deletar o registro do aluno: {{aluno.nome}} {{aluno.sobrenome}} ?</p>
				</div>
			
			<div class="row">
				<div class="col-md-4">
					<a href="{% url 'deletar_aluno_posconfirm' id=aluno.id %}">
						<button type="button" class="btn btn-primary glyphicon glyphicon-minus-sign"><font face="Arial"><b> Deletar </b></font></button>
					</a>
					<a href="#" onclick="goBack();return false;">
						<button type="button" class="btn btn-danger glyphicon glyphicon-remove-sign"><font face="Arial"><b> Cancelar</b></font></button>
					</a>
				</div>
			</div>
			{% elif app == "Cardapio" %}
			<div class="jumbotron text-center">
  					<p>Realmente gostaria de deletar o registro do Cardapio: {{ cardapio.data }} ?</p>
				</div>
			
			<div class="row">
				<div class="col-md-4">
					<a href="{% url 'deletar_cardapio_posconfirm' id=cardapio.id %}">
						<button type="button" class="btn btn-primary glyphicon glyphicon-minus-sign"><font face="Arial"><b> Deletar </b></font></button>
					</a>
					<a href="#" onclick="goBack();return false;">
						<button type="button" class="btn btn-danger glyphicon glyphicon-remove-sign"><font face="Arial"><b> Cancelar</b></font></button>
					</a>
				</div>
			</div>
			{% elif app == "Horario" %}
			<div class="jumbotron text-center">
  					<p>Realmente gostaria de deletar o Horário do aluno: {{ horario.aluno.nome }} {{ horario.aluno.sobrenome }} ?</p>
				</div>
			
			<div class="row">
				<div class="col-md-4">
					<a href="{% url 'deletar_horario_posconfirm' id=horario.id %}">
						<button type="button" class="btn btn-primary glyphicon glyphicon-minus-sign"><font face="Arial"><b> Deletar </b></font></button>
					</a>
					<a href="#" onclick="goBack();return false;">
						<button type="button" class="btn btn-danger glyphicon glyphicon-remove-sign"><font face="Arial"><b> Cancelar</b></font></button>
					</a>
				</div>
			</div>
			{% endif %}
		</div>
{% endblock %}
{% block javascript %}
	<script>
		function goBack() {
    		window.history.back();
		}
	</script>
{% endblock %}
