{% extends 'base.html' %}


{% block titulo %} SICA | Home {% endblock %}

{% block home %}
{% if errors %}
	<ul>
    	{% for error in errors %}
        	<li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}


<div class="container">
	{% if erro %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Que pena!</strong> O ticket de hoje nao foi gerado devido ao problema: {{ erro }}.
  			</div>
		</div>
	</div>
	{% endif %}
	{% if msg %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Ticket Gerado!</strong> O ticket de hoje foi gerado com sucesso.
  			</div>
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h3 class="display-3" align="left">Informe a sua senha de validação: {{data.1}}</h3>
				<br>
				<form action="/home" method="POST">
					{% csrf_token %}
					<input type="hidden" name="prontuario" value="{{ aluno.prontuario }}">
					<input type="hidden" name="act" value="valid_pass">
					<label>Prontuário: CT{{aluno.prontuario}}</label>
					<br>
					<div style="margin-bottom: 10px">
						<label for="senha">Senha:</label>
						<br>
						{{ form.senha }}
					</div>
					<div style="margin-bottom: 10px">
						{{ form.captcha }}
					</div>
					<button type="submit" class="btn btn-primary">Enviar</button>
				</form>
			</div>
		</div>
	</div>

</div>
{% endblock %}