{% extends 'base.html' %}

{% block titulo%}SICA|Cursos{% endblock %}

{% block content %}
<div class="container">
	<legend>Adcionar Curso</legend>
	<form role="form"  method="post" class="login-form">
	{% csrf_token %}

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="prontuario">Curso: </label>
					{{ form.curso }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.curso %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					 <label for="cota">Cota:</label>
					{{ form.cota }}
				</div>
				{% if form.errors %}
					{% for field in form %}
						{% if field == form.cota %}
							{% for error in field.errors %}
								<div class="col-md-4">
									<div class="alert alert-danger">
										<strong>{{ error }}</strong>
									</div>
								</div>
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="nome">Ativo: </label>
					{{ form.ativo }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.ativo %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>

		<button type="submit" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"><b> Adicionar</b></font></button>
	</form>
</div>
{% endblock %}
