{% extends 'base.html' %}

{% block titulo%}SICA|Cursos{% endblock %}

{% block content %}
<div class="container">
	{% if msg %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Tudo Certo! {{msg }}.
  			</div>
		</div>
	</div>
	{% endif %}
	{% if err %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Que pena! {{ err }}.
  			</div>
		</div>
	</div>
	{% endif %}
	<legend>Cursos</legend>
	<div class="row">
		<div class="col-md-2">
			<a href="/cursos/add">
				<button type="button" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"> Novo</font></button>
			</a>
		</div>
		<div class="col-md-10">
			<form role="form"  method="post" class="login-form">
			{% csrf_token %}
				<div class="col-md-12">
					<div class="aluno-pesquisa">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Pesquisar</button>
						</span>
						<input type="text" class="form-control" placeholder="Pequisa" type="submit" name="campo">
					</div>					
				</div>
			</form>
		</div>		
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Cursos</div>
					<table class="table">
							<tr>
								<th>Curso</th>
								<th>Cota</th>
								<th>Ativo</th>
								<th>Editar</th>
							</tr>
							{% for curso in cursos %}
							<tr>
								<th>{{ curso.curso }}</th>
								<th>{{ curso.cota|default:"" }}</th>
								<th>
									{% if curso.ativo %}
									<span class="glyphicon glyphicon-ok"></span>
									{% else %}
									<span class="glyphicon glyphicon-remove"></span>
									{% endif %}
								</th>
								<th><a href="{% url 'editar_curso' id=curso.id %}" class="glyphicon glyphicon-edit"></a></th>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% if cursos.has_other_pages %}
	  				<ul class="pagination">
	    			{% if cursos.has_previous %}
	      				<li><a href="?page={{ cursos.previous_page_number }}">&laquo;</a></li>
	    			{% else %}
	     				 <li class="disabled"><span>&laquo;</span></li>
	    			{% endif %}
	    			{% for i in cursos.paginator.page_range %}
	      				{% if cursos.number == i %}
	        				<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	      				{% else %}
	        				<li><a href="?page={{ i }}">{{ i }}</a></li>
	      				{% endif %}
	    			{% endfor %}
	    			{% if cursos.has_next %}
	      				<li><a href="?page={{ cursos.next_page_number }}">&raquo;</a></li>
	    			{% else %}
	      				<li class="disabled"><span>&raquo;</span></li>
	    			{% endif %}
	  				</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
