{% extends 'base.html' %}

{% block titulo %}SICA|API{% endblock %}

{% block content %}
<div class="container">
	{% if msg %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Tudo Certo! {{msg }}.
  			</div>
		</div>
	</div>
	{% endif %}
	{% if err %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Que pena! {{ err }}.
  			</div>
		</div>
	</div>
	{% endif %}
	<legend>Sistemas Integrados</legend>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				{% if sistemas %}
				<div class="panel-heading">
					Registros Apresentados: {{sistemas.count}}
				</div>
				{% else %}
				<div class="panel-heading">
				</div>
				{% endif %}
				<table class="table">
					<tr>
						<th>Sistema</th>
						<th>Hash Gerado</th>
						<th>Data</th>
						<th>Ações</th>
					</tr>
					{% for sistema in sistemas %}
					<tr>
						<th>{{ sistema.sistema }}</th>
						<th>{{ sistema.codigo }}</th>
						<th>{{ sistema.data }}</th>
						<th>
							<a data-toggle="modal" data-target="#alterar{{sistema.id}}" class="glyphicon glyphicon-edit"></a>
							<a data-toggle="modal" data-target="#sistema{{sistema.id}}" class="glyphicon glyphicon-remove"></a>
						</th>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    	Gerar Chave de Integração
  	</a>
	<p>
		<div class="collapse" id="collapseExample">
	  		<div class="card card-body">
	    		<form role="form"  method="post" class="login-form">
				{% csrf_token %}
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="prontuario">Sistema:</label>
								<input type="text" name="sistema" id="id_sistema" maxlength="100" required>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"><b> Adicionar</b></font></button>
				</form>
	  		</div>
		</div>
	</p>
<!-- Modal -->
{% for sistema in sistemas %}
	<div class="modal fade" id="sistema{{sistema.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title" id="exampleModalLabel">Revogar Chave de Acesso</h5>
      			</div>
      			<div class="modal-body">
      				Realmente deseja apagar a chave de integração para o sistema {{sistema.sistema}}?
      			</div>
      			<div class="modal-footer">
      				<a href="{% url 'deletar_api' id=sistema.id %}">
      					<button type="button" class="btn btn-secondary">Aceitar</button>      				
      				</a>
        			<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>	
      			</div>
    		</div>
  		</div>
	</div>
	<div class="modal fade" id="alterar{{sistema.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title" id="exampleModalLabel">Alterar Nome do Sistema</h5>
      			</div>
      			<div class="modal-body">
      				<p>
      					Nome Atual: {{sistema.sistema}}
      				</p>
					<p>
      					*A troca do nome do sistema implicará na troca da chave de integração.
      				</p>
					<form action="/api/edit" method="post">
      				{% csrf_token %}
      					<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label for="prontuario">Sistema:</label>
									<input type="text" name="sistema" id="id_sistema" maxlength="100" required>
								</div>
							</div>
						</div>
						<input type="hidden" name="id" id="id" value="{{sistema.id}}">
						<button type="submit" class="btn btn-primary"><font face="Arial"><b>Alterar</b></font></button>
      				</form>
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>	
      			</div>
    		</div>
  		</div>
	</div>
{% endfor %}	
</div>
{% endblock %}

{% block script %}
	$('#myModal').on('shown.bs.modal', function () {
  		$('#myInput').trigger('focus')
	})
{% endblock %}