{% extends 'base.html' %}

{% block titulo%}SICA|Cardapios{% endblock %}

{% block content %}

<div class="container">
	<legend>Adicionar Horario</legend>
	
	<div class="tabbable"> <!-- Only required for left/right tabs -->
    	<ul class="nav nav-tabs">
        	<li class="active"><a href="#tab1" data-toggle="tab">Por Aluno</a></li>
        	<li><a href="#tab2" id="curso" data-toggle="tab">Por Curso</a></li>
      	</ul>
      	<div class="tab-content">
        	<div class="tab-pane active" id="tab1">
          		<form role="form"  method="post" class="login-form">
				{% csrf_token %}
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="data">Aluno: </label>
								</br>{{ form.aluno }}
							</div>
						</div>
						{% if form.errors %}
    						{% for field in form %}
        						{% if field ==  form.aluno %}
        							{% for error in field.errors %}
        							</br>
									<div class="col-md-4">
            							<div class="alert alert-danger">
                							<strong>{{ error }}</strong>
            							</div>
	            					</div>
        							{% endfor %}
        						{% endif %}
    						{% endfor %}
						{% endif %}
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="data">Dias da Semana: </label>
								</br>
								{{ form.seg }} Segunda
								</br> 
								{{ form.ter }} Terça
								</br> 
								{{ form.qua }} Quarta 
								</br> 
								{{ form.qui }} Quinta 
								</br> 
								{{ form.sex }} Sexta 
							</div>
						</div>
					</div>
					<input type="hidden" name="tipo", value="1">
					<button type="submit" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"><b> Adicionar</b></font></button>
				</form>
			</div>
			<div class="tab-pane" id="tab2">
         		<form role="form"  method="post" class="login-form">
				{% csrf_token %}
         			<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="curso">Curso: </label>
								<select class="form-control" name="curso">
									<option value="0">--- Selecione um curso ---</option>
  									{% if cursos %}
										{%for curso in cursos %}
											{%if curso.ativo %}
												<option value="{{ curso.id }}">{{ curso.curso }}</option>
											{% endif %}
										{% endfor %}
									{% endif %}	
	  							</select>
							</div>
						</div>
						{% if formcurso.errors %}
    						{% for field in formcurso %}
        						{% if field ==  formcurso.curso %}
        							{% for error in field.errors %}
										<br/>
										<div class="col-md-4">
            								<div class="alert alert-danger">
                								<strong>{{ error }}</strong>
            								</div>
	            						</div>
        							{% endfor %}
        						{% endif %}
    						{% endfor %}
						{% endif %}
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">

								<label for="ano">Ano: </label>
								<select class="form-control" name="ano">
									<option value="0">--- Selecione um Ano ---</option>
  									<option {% if formcurso.ano.value == '1' %} selected {% endif %} value="1">1 º Ano</option>
 		 							<option {% if formcurso.ano.value == '2' %} selected {% endif %} value="2">2 º Ano</option>
	  								<option {% if formcurso.ano.value == '3' %} selected {% endif %} value="3">3 º Ano</option>
	  							</select>
							</div>
						</div>
						{% if formcurso.errors %}
    						{% for field in formcurso %}
        						{% if field ==  formcurso.ano %}
        							{% for error in field.errors %}
										<br/>
										<div class="col-md-4">
            								<div class="alert alert-danger">
                								<strong>{{ error }}</strong>
            								</div>
	            						</div>
        							{% endfor %}
        						{% endif %}
    						{% endfor %}
						{% endif %}
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="data">Dias da Semana: </label>
								<br/>
								{{ form.seg }} Segunda
								<br/> 
								{{ form.ter }} Terça
								<br/> 
								{{ form.qua }} Quarta 
								<br/> 
								{{ form.qui }} Quinta 
								<br/> 
								{{ form.sex }} Sexta 
							</div>
						</div>
					</div>
					<input type="hidden" name="tipo", value="2">
					<button type="submit" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"><b> Adicionar</b></font></button>
				</form>
        	</div>
      </div>
    </div>
</div>
{% endblock %}