{% extends 'base.html' %}

{% block titulo%}SICA|Cardapios{% endblock %}

{% block content %}

<div class="container">
	<legend>Adcionar Horario</legend>

	<form role="form"  method="post" class="login-form">
	{% csrf_token %}
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="data">Aluno: </label>
					</br>{{ form.aluno }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.aluno %}
        				{% for error in field.errors %}
        				</br>
						<div class="col-md-4">
        					<div class="alert alert-danger">
                				<strong>{{ error }}</strong>
            				</div>
	            		</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="data">Dias da Semana: </label>
					</br>
					{{ form.seg }} Segunda
					</br> 
					{{ form.ter }} Terça
					</br> 
					{{ form.qua }} Quarta 
					</br> 
					{{ form.qui }} Quinta 
					</br> 
					{{ form.sex }} Sexta 
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"><b> Salvar</b></font></button>
	</form>
</div>
{% endblock %}